<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
  <!-- GenerateHexCode -->
  <div *ngIf="folder === 'SelectedText'">
    <app-selected-text></app-selected-text>
  </div>

  <!-- ScrollToTop -->
  <div *ngIf="folder === 'ScrollToTop'" class="body">
    <app-scroll-to-top></app-scroll-to-top>
  </div>

  <!-- GenerateHexCode -->
  <div *ngIf="folder === 'GenerateHexCode'">
    <app-generate-hex-code></app-generate-hex-code>
  </div>

  <!-- Clipboard -->
  <div *ngIf="folder === 'Clipboard'">
    <app-clipboard></app-clipboard>
  </div>

  <!-- RandomArray -->
  <div *ngIf="folder === 'RandomArray'">
    <app-random-array></app-random-array>
  </div>

</ion-content>